* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #122829;
}

a, li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #5DE1E6;
    text-decoration: none;
    padding: 20px 20px;
} 

header {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 5px;
    align-items: center;
    padding: 30px 10%;
    /* background-color: red; */
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.logo img {
    max-width: 30%;
    max-height: 30%;
}

.nav_links {
    list-style: none;
    padding: 20px 20px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

/* hover */
.nav_links li a:hover {
    background-color: #5DE1E6 ;
    color: #122829;
    /* padding: 20px 20px; */
    transition: transform 1s ease-in-out;
}


/* container top  */

/* .wrapper{
    background-color: red;
    height: 500px;
} */

.container_top {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    height: 50vh;
    letter-spacing: 1.5em;
    /* margin-top: 50px; */
    padding: 50px 50px;
    background-color: #5DE1E6 ;
    color: white;
}
.container_top h1 {
    font-size: 60px;
    background-color: #5DE1E6;
}
.container_top p{
    font-size: 24px;
    margin-top: 50px;
    background-color: #5DE1E6;
}

/* svg section  */
